.container {
  margin: auto;
  padding-top: 10%;
  width: 70%;
}

.container .MuiButton-root {
  display: flex;
  margin: auto;
}

.input {
  margin-block-end: 10%;
}

.input div {
  width: 100%;
}

.loginButton {
  margin: auto;
  margin-bottom: 2%;
}

.errorMessage {
  font-size: small;
  color: red;
}

.actionBox {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

@media screen and (min-width: 600px) {
  .container {
    width: 60%;
    margin: 0;
    padding-top: 0;
    margin-left: 15%;
  }
  .container {
    margin-block-end: 2%;
  }
}
