.container {
  margin: auto;
  padding-top: 10%;
  width: 70%;
}

.container .MuiButton-root {
  display: flex;
  margin: auto;
}

.input {
  margin-block-end: 10%;
}

.input div {
  width: 100%;
}

.loginButton {
  margin: auto;
  margin-bottom: 2%;
}

.errorMessage {
  font-size: small;
  color: red;
}

.actionBox {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
