.gridImage {
  height: 100px;
  width: 100px;
  object-fit: cover;
  cursor: pointer;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  position: absolute;
  top: 12%;
  height: 80%;
}

.MuiDialogTitle-root + .css-ypiqx9-MuiDialogContent-root {
  padding-top: 2% !important;
}
