.gridImage {
  height: 100px;
  width: 100px;
  object-fit: cover;
  cursor: pointer;
}

.myPostDialog {
  height: 80%;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  top: 17%;
}
