#profileInputContainer,
#profileInput {
  display: none;
}

.editProfileDialog {
  height: 70vh; /* Set your desired height here */
}

#profileImage {
  justify-content: center;
  padding-bottom: 4%;
  cursor: pointer;
}

.profileImageContainer {
  display: flex;
  justify-content: center;
}

.profileEditIcon {
  background-color: rgb(183, 181, 181);
  border-radius: 50%;
  padding: 3px;
  color: white;
  height: 15px;
  width: 15px;
}
