.profileAvatar.desktop {
  height: 10%;
  width: 10%;
}

.profileAvatar.mobile {
  height: 25%;
  width: 25%;
}

.profileDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
}

.actionButton {
  margin: 5% 0px;
}
