.profileAvatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profileDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
}

.actionButton {
  margin: 5% 0px;
}
