.profileAvatar {
  height: 200px;
  width: 100px;
}

.profileDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  padding-left: 5%;
}

.actionButton {
  margin: 5% 0px;
}
