.gridImage {
  height: 100px;
  width: 100px;
  object-fit: cover;
  cursor: pointer;
}

.myPostDialog {
  position: absolute;
  top: 3%;
  height: 70vh; /* Set your desired height here */
}

.MuiDialogTitle-root + .css-ypiqx9-MuiDialogContent-root {
  padding-top: 2% !important;
}
